.img {
  max-width: 250px;
  max-height: 250px;
}

.container {
  padding: 50px;
}

.wrap {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.btnWrap {
  margin-top: 20px;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.item:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.title {
  margin-top: 10px;
  font-size: 386x;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.title:hover {
  color: rgb(4, 78, 53);
}

.item h2 {
  text-align: center;
}

.link {
  margin-top: 50px;
  text-decoration: none;
  color: #000;
  border: 1px solid #ccc;
  padding: 5px 10px;
}